@import '../../assets/colors';

.animation {
    position: absolute;
    width: 100vh;
    height: 100vw;

    .bottom-center, .bottom-left, .bottom-right {
        animation: slideUp forwards;
        animation-iteration-count: 2;
        animation-direction: alternate;
        bottom: -10%;

        @keyframes slideUp {
            100% { bottom: 5%; }
          }
    }

    .top-center, .top-left, .top-right {
        animation: slideDown forwards;
        animation-iteration-count: 2;
        animation-direction: alternate;
        top: -10%;

        @keyframes slideDown {
            100% { top: 5%; }
          }
    }
}

.snackbar {
    position: fixed;
    color: white;
    background: $grey-color;
    border-radius: 15px;
    width: auto;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;

    h5 {
        margin: 15px;
    }

    &.top-left, &.bottom-left {
        left: 5%;
    }

    &.top-right, &.bottom-right {
        right: 5%;
    }

    &.error {
        background-color: $error-color;
    }
    &.warning {
        background-color: $warning-color;
    }
    &.info {
        background-color: $info-color;
    }
    &.success {
        background-color: $success-color;
    }
}
